body {
  background-image: url("../snake.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

#game {
  width: 500px;
  height: 500px;
  display: block;
  border: 3px solid black;
  margin-left: 32vw;
  background-color: ivory;
}

#game li {
  width: 50px;
  height: 50px;
  list-style: none;
  float: left;
  /* background-color: white; */
  /* border: 1px solid darkgrey; */
  border-radius: 25px;
}

.title {
  display: block;
  font-family: "Faster One", cursive;

  margin-left: 40vw;
  font-size: 60px;
}

.subtitle {
  display: block;
  margin-left: 35vw;
  font-size: 20px;
  font-family: "Jura", sans-serif;
  margin-bottom: 10px;
}

.instructions {
  font-family: "Jura", sans-serif;
  font-size: 1.5vw;
  color: purple;
  position: absolute;
  left: 5%;
  top: 370px;
}

#score {
  position: absolute;
  left: 5%;
  font-size: 2vw;
  top: 110px;
  color: gold;
  font-family: "Jura", sans-serif;
}

#highestScore {
  position: absolute;
  left: 5%;
  top: 80px;
  font-size: 2vw;
  color: blue;
  font-family: "Jura", sans-serif;
}

#select-difficulty {
  position: absolute;
  left: 15%;
  top: 270px;
  font-family: "Jura", sans-serif;
  font-weight: 500;
}

#start {
  position: absolute;
  left: 15%;
  top: 220px;
  font-size: 2vw;
  color: purple;
  font-family: "Jura", sans-serif;
}

#start:hover,
#recipe-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#loss {
  position: absolute;
  left: 15%;
  top: 160px;
  font-size: 3vw;
  font-family: "Jura", sans-serif;
}

#game li.segment {
  background-color: lime;
}

#game li.head {
  background-color: black;
}

#game li.apple {
  background-color: red;
}

#recipe-button {
  position: absolute;
  right: 5vw;
  top: 40px;
  font-size: 2vw;
  color: purple;
  font-family: "Jura", sans-serif;
}

#recipe {
  position: fixed;
  z-index: 5;
  right: 5vw;
  top: 90px;
  background-color: white;
  font-size: 1.5vw;
  font-family: "Jura", sans-serif;
}

.contact {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 5%;
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-family: "Jura", sans-serif;
}

.contact img {
  height: 30px;
  width: 30px;
}
