body {
  background-image: url("../snake.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

#game {
  width: 520px;
  height: 520px;
  display: block;
  border: 3px solid black;
  margin-left: 32vw;
}

#game li {
  width: 50px;
  height: 50px;
  list-style: none;
  float: left;
  background-color: white;
  border: 1px solid darkgrey;
}

.title {
  display: block;
  font-family: "Faster One", cursive;

  margin-left: 40vw;
  font-size: 60px;
}

.instructions {
  font-family: "Jura", sans-serif;
  font-size: 1.5vw;
  color: purple;
  position: absolute;
  left: 5%;
  top: 370px;
}

#score {
  position: absolute;
  left: 5%;
  font-size: 2vw;
  top: 110px;
  color: gold;
  font-family: "Jura", sans-serif;
}

#highestScore {
  position: absolute;
  left: 5%;
  font-size: 2vw;
  color: blue;
  font-family: "Jura", sans-serif;
}

#select-difficulty {
  position: absolute;
  left: 15%;
  top: 270px;
  font-family: "Jura", sans-serif;
  font-weight: 500;
}

#start {
  position: absolute;
  left: 15%;
  top: 220px;
  font-size: 2vw;
  color: purple;
  font-family: "Jura", sans-serif;
}

#start:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#loss {
  position: absolute;
  left: 15%;
  top: 160px;
  font-size: 3vw;
  font-family: "Jura", sans-serif;
}

#game li.segment {
  background-color: lime;
}

#game li.apple {
  background-color: red;
}

.contact {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-family: "Jura", sans-serif;
}

.contact img {
  height: 30px;
  width: 30px;
}
